<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net472" />
  <package id="NetOfficeFw.Core" version="1.8.1" targetFramework="net472" />
  <package id="NetOfficeFw.MSProject" version="1.8.1" targetFramework="net472" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net472" />
</packages>